name: CD

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  cd:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'compose-demo-app'
          images: ${{ secrets.ACR_URL }}/din-tjanst:latest
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}