name: Build and Test

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ditt-anvandarnamn/din-tjanst:latest ./api

      - name: Run tests
        run: docker run --rm ditt-anvandarnamn/din-tjanst:latest npm test

  microservice:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build microservice docker image 
        run: docker build -t ditt-anvandarnamn/microservice:latest ./microservice

      - name: Run microservice tests
        run: docker run --rm ditt-anvandarnamn/microservice:latest npm test